rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedUser() {
      return request.auth != null && 
             request.auth.token.email == 'YOUR_EMAIL@gmail.com';
    }
    
    match /users/{userId} {
      allow read, write: if isAllowedUser() && request.auth.uid == userId;
    }
    
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
